@import "tailwindcss"; 

html, body{
  height: 100%;
}

body{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* smooth scrolling */
html{
  scroll-behavior: smooth;
}

/* custom scrollbar */ 
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #22d3ee, #6366f1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #67e8f9, #818cf8);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 rgba(255, 255, 255, 0.05);
}

@layer base{
  body{
    @apply bg-slate-900 text-slate-100
  }
}
/* Header css */
@layer components{
  .dashboard-header{
    @apply bg-slate-900/80 backdrop-blur p-4 sm:p-6 rounded-xl shadow mb-6;
  }

  .dashboard-title {
    @apply text-xl sm:text-2xl lg:text-3xl
           font-bold
           bg-gradient-to-r from-cyan-400 to-indigo-400
           bg-clip-text text-transparent;
  }

  .dashboard-subtitle {
    @apply text-xs sm:text-sm
           text-slate-400
           mt-2;
  }

}